*{
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
    text-decoration: none; 
    list-style: none; 
}
html {
    font-family: "Titillium Web",sans-serif;;
}

/*This is for mobile phones*/
[class*="col-"] {
    float: left;
    width: 100%;   
    /*border-style:solid; */
}

.wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
    
.landing-page-background {
    background-image: url("../ref/Website-Design-Background.png");
    background-size: cover;
    border-bottom: 1px solid black;
}

.line-break {
    background: rgba(0, 0, 0, 0.2);/* Green background with 30% opacity */    
}

.pageNav {
    overflow: hidden;
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -webkit-flex-direction: column;
    flex-direction: column;
    color: white;
}

.pageNav .mobile-nav {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    align-items: center;
    -webkit-align-items: center;
    padding: 15px;
    border-bottom: 2px solid #e5e5e5;        
}

.pageNav .mobile-nav h1 {
    font-weight: bolder;
    font-size: calc(8vw - 2vw);
    color: #e74a43;
}

.pageNav .mobile-nav aside {
    display: flex;
    display: -webkit-flex;    
    margin-left: auto;
    font-size: calc(4vw - 1vw);
}

.pageNav .mobile-nav aside a,.show-mobile-element {
    margin: auto;    
    color: white;
}

.pageNav .mobile-nav aside a i {
    padding: 5px;
    color: white;
    margin-left: 10px;    
    font-style: normal;
}

.pageNav .mobile-dropmenu {
    border-bottom: 1px solid #e5e5e5;        
}

.pageNav #display-menu * {
    display: block;
    padding: 15px 15px;
    color: white;
} 

/*----*/

.welcome-sect {
    display: flex;
    display: -webkit-flex; 
    flex-direction: column;
    -webkit-flex-direction: column;    
    padding: 20px 15px 0px 15px;
    color:white;
    text-align: center;
}

.welcome-sect h1 {
    font-size: calc(10vw - 2.5vw);    
}

.welcome-sect p {
    font-size: calc(4vw - 1vw);
    margin-top:10px;
}

.welcome-sect p a {
    color: #1477CC;
}

.welcome-sect button {
    font-size: calc(4vw - 1vw);
    padding: 7px 15px;        
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color:white;
    background-color: #e74a43; 
    margin: 15px 0px;
    align-self: center;
}

.welcome-sect .browser-img {
    max-width: 100%;
    height: 30vw;
}

.welcome-sect p .desktop-br {
    display:none;
}

/*--- This section Above is complete for Mobile (better coding can be applied here)*/

.latest-project-sect {
    padding: 20px 15px;
    background-color: rgb(240, 240, 240);
    border-bottom: 1px solid;
}

.latest-project-sect aside, .about-me-sect, .about-me-sect aside {
    display: flex;
    display: -webkit-flex; 
    flex-direction: column;
    -webkit-flex-direction: column;  
    margin-top: 30px;
}

.latest-project-sect h2, .about-me-sect aside h1 {
    font-size: calc(8vw - 2vw);  
}

.latest-project-sect aside div, .about-me-sect .whats-new div{
    display: flex;
    display: -webkit-flex; 
    -webkit-align-items: center;
    align-items: center;
    background-color:white;
}

.latest-project-sect aside p {
    margin-bottom: 15px;
    color: black;
}

.latest-project-sect aside div:nth-child(3) {
    margin: 15px 0px;
} 

.latest-project-sect .test, .about-me-sect .test {
    background-image:  url("../Ref/temp-background.jpeg");
    background-size: 100% 100%;
    width:  calc(30vw - 3vw);
    height: calc(30vw - 3vw);
    border-right: 3px solid;
}

.latest-project-sect div:not(:first-child) p, .about-me-sect .whats-new div p  {
    font-size: calc(4vw - 1vw);    
    color:#e5e5e5;  
    margin: auto;
    text-align: center;
}

.latest-project-sect .test, .about-me-sect .test {
    background-image:  url("../Ref/temp-background.jpeg");
    background-size: 100% 100%;
    width:  calc(30vw - 3vw);
    height: calc(30vw - 3vw);
    border-right: 3px solid;
}

.title-change {
    font-size: calc(6vw - 1.5vw);
    color: #1477CC;
    text-align: center;
}

/*-----This Section Above has been Completed---------*/

.about-me-sect {
    padding: 20px 15px; 
    margin-top: 0px;    
}

.about-me-sect aside:first-child div, .about-me-sect aside, .about-me-sect aside:first-child p{
    margin-top: 20px;
}

.about-me-sect aside:first-child div img {
    width: 35px;
    height: auto;
}

.about-me-sect .whats-new div {
    margin: 10px 0px;
}

.about-me-sect .whats-new div img {
    border-right: 0px;
}

.about-me-sect aside:last-child div:not(:last-child) {
    padding-bottom: 20px;
    border-bottom: 1px solid #cccccc;
}

.accent-color {
    color: #e74a43;
}

footer {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    background-color: rgb(240, 240, 240);
    padding: 15px 0px;
}

.hide-element,.hide-mobile-element {
    display: none;
}

.show-element {
    display: initial;
}

@media only screen and (min-width: 736px) {

.pageNav {
    padding: 0px 15px;
}
  
.pageNav #menuIcon, .mobile-dropmenu {
    display:none;
}

.pageNav .mobile-nav h1 {
    font-size: calc(8vw - 3vw);
}

.pageNav .mobile-nav aside {
    font-size: calc(4vw - 2vw);
}

.show-mobile-element {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
}

.pageNav .mobile-nav aside a {
    padding: 10px;
}

.pageNav .mobile-nav aside a:not(:last-child) {
    margin-right:10px;
}

.pageNav div a:hover {
    border-radius: 5px;
    background-color: rgba(198, 198, 198, 0.19);
}

.pageNav .mobile-nav aside > a {
    border-radius: 5px;
    background-color: rgba(198, 198, 198, 0.19);
}

.welcome-sect h1, .welcome-sect p  {
    margin-top: 45px;
}

.welcome-sect button {
    font-size: calc(4vw - 2vw);
}

.welcome-sect .browser-img {
    margin-top: 20px;
}
/*--This sector above is reasonably done!---*/

.latest-project-sect h2, .about-me-sect aside h1 {
    font-size: calc(8vw - 4vw);  
}

.latest-project-sect aside {
    flex-direction: row;
    -webkit-flex-direction: row;  
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.latest-project-sect aside div {
    flex-direction: column;
    -webkit-flex-direction: column;
}
.latest-project-sect .test { 
    width:  30vw;
    height: calc(35vw - 15vw);
}

.latest-project-sect aside div:nth-child(2) {
    margin: 0px 30px;
}

.latest-project-sect .title-change {
    font-size: calc(6vw - 3vw);
}

.latest-project-sect aside div p {
    font-size: calc(4vw - 2.5vw);   
    padding: 10px;
}

.latest-project-sect img {
    max-width:100%;
    height: auto;
    border-bottom: 3px solid black;
    border-right: none;
}

.about-me-sect  {
    border-bottom: 1px solid;
    flex-direction: row; 
    -webkit-flex-direction: row; 
    -webkit-justify-content: space-between;  
    justify-content: space-between;  
}

.about-me-sect .title-change {
    font-size: calc(6vw - 3.5vw);    
}

.about-me-sect aside:first-child {
    flex: 1;
}

.about-me-sect .whats-new {
    padding: 0px 10px;
}

.about-me-sect .whats-new div p {
    font-size: calc(4vw - 2.5vw);       
}

.about-me-sect aside .test{
    width:  103px;
    height: 103px;
}

footer {
    padding: 25px 15px;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    background-color: rgb(240, 240, 240);
}

footer .show-footer {
    display: initial;
}

footer nav a:not(:last-child){
    border-right: 1px solid;
    padding: 0px 10px;
}

footer nav a:last-child {
    padding-left:10px;
}

footer p {
    display: inline-block;

}
}

@media only screen and (min-width:1024px) {

    .welcome-sect p {
        font-size:  30px;
    }

    .welcome-sect p .mobile-br {
        display: none;
    }

    .welcome-sect p .desktop-br {
        display: initial;
    }

    .welcome-sect div {
        margin: 50px 0px;     
    }
}