*{
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
    text-decoration: none; 
    list-style: none; 
}
html {
    font-family: "Titillium Web",sans-serif;;
}

/*This is for mobile phones*/
[class*="col-"] {
    float: left;
    width: 100%;   
    /*border-style:solid; */
}

.wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
    
.landing-page-background {
    background-image: url("../Ref/Website-Design-Background.png");
    background-size: cover;
    border-bottom: 1px solid black;
}

.line-break {
    background: rgba(0, 0, 0, 0.2);/* Green background with 30% opacity */    
}

.pageNav {
    overflow: hidden;
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -webkit-flex-direction: column;
    flex-direction: column;
    color: white;
}

.pageNav .mobile-nav {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    align-items: center;
    -webkit-align-items: center;
    padding: 15px;
    border-bottom: 2px solid #e5e5e5;        
}

.pageNav .mobile-nav h1 {
    font-weight: bolder;
    font-size: calc(8vw - 2vw);
    color: #e74a43;
}

.pageNav .mobile-nav aside {
    display: flex;
    display: -webkit-flex;    
    margin-left: auto;
    font-size: calc(4vw - 1vw);
}

.pageNav .mobile-nav aside a,.show-mobile-element {
    margin: auto;    
    color: white;
}

.pageNav .mobile-nav aside a i {
    padding: 5px;
    color: white;
    margin-left: 10px;    
    font-style: normal;
}

.pageNav .mobile-dropmenu {
    border-bottom: 1px solid #e5e5e5;        
}

.pageNav #display-menu * {
    display: block;
    padding: 15px 15px;
    color: white;
} 

/*----*/

.welcome-sect {
    display: flex;
    display: -webkit-flex; 
    flex-direction: column;
    -webkit-flex-direction: column;    
    padding: 20px 15px 0px 15px;
    color:white;
    text-align: center;
}

.welcome-sect h1 {
    font-size: calc(10vw - 2.5vw);    
}

.welcome-sect p {
    font-size: calc(4vw - 1vw);
    margin-top:10px;
}

.welcome-sect p a {
    color: #1477CC;
}

.welcome-sect button {
    font-size: calc(4vw - 1vw);
    padding: 7px 15px;        
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color:white;
    background-color: #e74a43; 
    margin: 15px 0px 15px;
    align-self: center;
    cursor: pointer;
}

.welcome-sect .browser-img {
    max-width: 100%;
    height: 30vw;
}

.welcome-sect p .desktop-br {
    display:none;
}

/*--- This section Above is complete for Mobile (better coding can be applied here)*/

.latest-project-sect {
    padding: 20px 15px;
    background-color: rgb(240, 240, 240);
    border-bottom: 1px solid white;
}

.latest-project-sect aside{
    overflow: auto;    
    background-color: #1477CC;    
    height: 320px;
    margin-top: 20px;

    display: flex;
    height: initial;
    flex-direction: row;
    -webkit-flex-direction: row;  
    -webkit-justify-content: space-around;
    justify-content: flex-start;
    padding: 10px 0px;
    border-right: 2px solid white;
    border-left: 2px solid white;
    border-top: 0px;
    border-bottom: 0px;

    -webkit-box-shadow: inset 10px 10px 300px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 10px 10px 300px 0px rgba(0,0,0,0.75);
    box-shadow: inset 10px 10px 300px 0px rgba(0,0,0,0.75);
}

.latest-project-sect aside .project {
    text-align: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    background-color: transparent;
    background-color: white;
    margin: 0px 10px;
}

.latest-project-sect aside > .project {
    margin-top: 10px;
}

.latest-project-sect aside .project .image-container {
    position: relative; 
}
.latest-project-sect aside .project .project-image {
    width:200px;
    width: calc(200px + 3vw);
    height: 150px;
    background-color: #cccccc;
    border: 1px solid #cccccc;
}

.latest-project-sect aside .project .image-container:hover > .project-image {
    border: 1px solid #e74a43;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(231,74,67,1);
    -moz-box-shadow: 0px 0px 14px 0px rgba(231,74,67,1);
    box-shadow: 0px 0px 14px 0px rgba(231,74,67,1);;
}
.latest-project-sect aside .project div .center {
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);    
    color: #cccccc
} 

.latest-project-sect aside .project .image-container:hover > .center {
   font-weight: bolder;
}


.latest-project-sect aside .project p {
    margin: auto;
    color: #cccccc;
    font-size: 13px;
    padding: 10px 0px;
}

.latest-project-sect aside .title-change {
    color: #1477CC;
    font-size: 15px;
}

/*-----This Section Above has been Completed---------*/

.about-me-sect {
    overflow: hidden;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    padding: 20px 15px; 
}

.about-me-sect .skill-title-visibility{
    margin-bottom: 35px;
}

.about-me-sect h1, .latest-project-sect h1 {
    font-size: 23px;
}

.about-me-sect aside:first-child {
    margin-bottom: 40px;
}

.e {
    border-radius: 60%;
    shape-outside: circle(50%) border-box;    
    float: right;    
    padding: 0px 1px 0px 0px;  
}

.about-me-sect aside:first-child .element {
    border-radius: 50%;
    width: 130px;
    height: auto;
    border: 2px solid #1477CC;
    margin-left: 0px;
}   

.about-me-sect aside:first-child p {
    line-height: 24px;
}

.about-me-sect aside:first-child p::first-letter {
    color: #1477CC;
    font-size: 30px;
}

.about-me-sect aside:first-child div, .about-me-sect aside:first-child p{
    margin-top: 20px;
}

.about-me-sect aside:first-child div {
    display: flex;
    display: -webkit-flex;
    align-items: center;
}

.about-me-sect aside:first-child div img {
    width: 35px;
    height: auto;
    margin: 0px 5px;
    
}

.about-me-sect aside:first-child p button {
    font-size: 15px;
    border: none;
    background-color: white;
}

.about-me-sect aside:first-child p button::before {
    content: "...";
}

.about-me-sect aside:first-child p span {
    display: none;
}

.about-me-sect aside:first-child div a button{
    height: 35px;
    padding: 0px 20px;
    background-color: #1477CC;
    margin-right: 20px;
    color: white;        
    border:none;
    border-radius: 10px;
    font-size:  15px;
    font-weight: bold;
    cursor: pointer;
}

.about-me-sect aside:last-child {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    flex: 1;
}

.about-me-sect .main-skills {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
}

.about-me-sect .main-skills svg{
    width: 100px;
    height: 100px;
}

.about-me-sect .main-skills .outer-circle {
    fill: none;
    stroke: #1477CC;
    stroke-width: 10;
}

.about-me-sect .main-skills .inner-circle {
    fill: none;
    stroke:  #cccccc;
    stroke-width: 10; 
}
.about-me-sect .main-skills .html-level {
    stroke-dasharray: 187.5 189; /*.Cost Max 250-260.*/
}

.about-me-sect .main-skills .css-level {
    stroke-dasharray:  187.5 189;
}

.about-me-sect .main-skills .javascript-level {
    stroke-dasharray: 150 189;
}

.about-me-sect .main-skills h3 {
    text-align: center;
}

.about-me-sect .main-skills text {
    color: black;
}

.about-me-sect .sub-skills {
    display: flex; 
    display: -webkit-flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-me-sect .sub-skills .skill-container{
    background-color: #ddd;
    margin: 10px 0px;
    width: 300px;
}

.about-me-sect .sub-skills .skill{
    text-align: right;
    padding-right: 20px;
    line-height: 35px;
    color: white;
}

.about-me-sect .sub-skills .photoshop {
    width: 60%; 
    background-color: purple;
}

.about-me-sect .sub-skills .Bootstrap {
    width: 30%; 
    background-color: purple;
}

.about-me-sect .sub-skills .php {
    width: 40%; 
    background-color: purple;
}

.about-me-sect .sub-skills .SQL {
    width: 20%; 
    background-color: purple;
}

.about-me-sect .sub-skills .JQuery {
    width: 10%; 
    background-color: purple;
}

.about-me-sect .sub-skills .SASS {
    width: 10%; 
    background-color: purple;
}

.accent-color {
    color: #e74a43;
}

footer {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    background-color: rgb(240, 240, 240);
    padding: 50px 0px;
}

footer span {
    color: #e74a43;
}

footer aside nav a {
    color: black;
}

.hide-element,.hide-mobile-element {
    display: none;
}

.show-element {
    display: initial;
}

@media only screen and (min-width: 736px) {

.pageNav {
    padding: 0px 15px;
}
  
.pageNav #menuIcon, .mobile-dropmenu {
    display:none;
}

.pageNav .mobile-nav h1 {
    font-size: calc(8vw - 3vw);
}

.pageNav .mobile-nav aside {
    font-size: calc(4vw - 2vw);
}

.show-mobile-element {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
}

.pageNav .mobile-nav aside a {
    padding: 10px;
}

.pageNav .mobile-nav aside a:not(:last-child) {
    margin-right:10px;
}

.pageNav div a:hover {
    border-radius: 5px;
    background-color: rgba(198, 198, 198, 0.19);
}

.pageNav .mobile-nav aside > a {
    border-radius: 5px;
    background-color: rgba(198, 198, 198, 0.19);
}

.welcome-sect h1, .welcome-sect p  {
    margin-top: 45px;
}

.welcome-sect button {
    font-size: calc(4vw - 2vw);
}

.welcome-sect .browser-img {
    margin-top: 20px;
}
/*--This sector above is reasonably done!---*/

.about-me-sect  {
    border-bottom: 1px solid;
    flex-direction: row; 
    -webkit-flex-direction: row;  
}

.about-me-sect .skill-title-visibility {
    display: none;
}

.about-me-sect .skill-title-visibility2 {
    display: initial;
    align-self: center;
}

.about-me-sect h1, .latest-project-sect h1 {
    font-size: 35px;
}

.about-me-sect  aside:first-child{
    flex:0.7;
}

.about-me-sect  aside:last-child{
    flex-direction: column-reverse; 
    align-self: center;
}

.about-me-sect .sub-skills .skill-container {
   width: 200px;
}


footer {
    padding: 30px 15px;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    background-color: rgb(240, 240, 240);
}

footer .show-footer {
    display: initial;
}

footer nav a:not(:last-child){
    padding: 0px 10px;
}

footer nav a:last-child {
    padding-left:10px;
}

footer p {
    display: inline-block;

}
}

@media only screen and (min-width:1024px) {

    .welcome-sect p {
        font-size:  30px;
    }

    .welcome-sect p .mobile-br {
        display: none;
    }

    .welcome-sect p .desktop-br {
        display: initial;
    }

    .welcome-sect div {
        margin: 50px 0px;     
    }

    .latest-project-sect aside div .project-image {
        max-width: calc(200px + 6vw);
        height: 150px;
    }

    .about-me-sect aside:last-child {
        padding-top: 40px;
    }

    .about-me-sect .sub-skills .skill-container {
        width: 280px;
    }
}