*{
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
    text-decoration: none; 
    list-style: none;        
}
html {
    font-family: "Titillium Web",sans-serif;;
}

/*This is for mobile phones*/
.row::after {
    content:"";
    clear: both;
}

[class*="col-"] {
    float: left;
    width: 100%;   
    /*border-style:solid; */
}

.wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

@media only screen and (min-width: 320px) {
    
.landing-page-background {
    background-image: url("../ref/Website-Design-Background.png");
    background-size: cover;
}
.pageNav {
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -webkit-flex-direction: column;
    flex-direction: column;
    color: white;
    background: rgba(0, 0, 0, 0.2) /* Green background with 30% opacity */
}

.pageNav .mobile-nav {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    align-items: center;
    -webkit-align-items: center;
    padding: 15px 15px;
    border-bottom: 2px solid #e5e5e5;        
}

.pageNav .mobile-nav h1 {
    font-weight: bolder;
    font-size: 7vw;
    color: #e74a43;
}

.pageNav .mobile-nav aside {
    display: flex;
    display: -webkit-flex;    
    margin-left: auto;
    font-size: 3vw;
}

.pageNav .mobile-nav aside a,.show-mobile-element {
    margin: auto;    
    color: white;
}
.pageNav .mobile-nav aside a i {
    padding: 5px;
    color: white;
    margin-left: 10px;    
    font-style: normal;
    
}

.pageNav .mobile-dropmenu {
    border-bottom: 1px solid #e5e5e5;        
}

.pageNav #display-menu * {
    display: block;
    padding: 15px 15px;
    color: white;
} 


/*----*/

.welcome-sect {
    display: flex;
    display: -webkit-flex; 
    flex-direction: column;
    -webkit-flex-direction: column;    
    padding: 20px 15px 0px 15px;
    border-bottom: 1px solid black;
    color:white;
    text-align: center;
}

.welcome-sect h1 {
    font-size: 5vm;
}

.welcome-sect p {
    font-size: 2vm;
    margin-top:30px;
}

.welcome-sect div {
    margin-top:30px;
    display: flex;
    display: -webkit-flex; 
    -webkit-justify-content: center;
    justify-content: center;
}

.welcome-sect button {
    border: none;
    padding: 7px 15px;
    border-radius: 5px;
    font-weight: bold;
    color:white;
}

.welcome-sect .hire-btn {
    background-color: #e74a43; 
    margin-right: 10px;
    
}

.welcome-sect .resume-btn {
    display: flex;
    display: -webkit-flex; 
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0px;
    background-color: #1477CC;
}

.welcome-sect .resume-btn span {
    margin: auto;
}

.welcome-sect button img {
    max-width: 25%;
    height: auto;
    padding: 0px 5px;
    border-left:1px solid;
}


.welcome-sect .browser-img {
    margin-top:40px;
    max-width: 100%;
    height: auto;
    -webkit-align-self: flex-end;
    align-self: flex-end;
    margin-left: auto;
    margin-right: auto;
    
}



.latest-project-sect {
    padding: 20px 15px;
    background-color: #e5e5e5;
}

.latest-project-sect aside {
    padding: 30px 0px;
}

.latest-project-sect aside div {
    display: block;
    border:1px solid;
    background-color:white;
}

.latest-project-sect aside div:not(:last-child) {
    margin-bottom: 10px;
} 

.latest-project-sect img, .about-me-sect aside:last-child div img  {
    max-height: auto;
    max-width: 100px;
}

.latest-project-sect div p {
    float: right;
    font-size: 15px;
    color:#e5e5e5;   
    text-align: center;
    margin: 30px 10px 0px 0px; 
}

.latest-project-sect div p span{
    font-size: 20px;
    color:black;
}

.about-me-sect h1 {
    font-size: 25px;
}

.about-me-sect aside {
    padding: 20px 15px;    
}

.about-me-sect aside h1 {
    padding: 10px 0px 30px 0px;    
}

.about-me-sect aside:first-child div {
    padding: 20px 0px 0px 0px;
}

.about-me-sect aside:first-child div img {
    width: 35px;
    height: auto;
}

.about-me-sect aside:last-child div {
    border: 1px solid;    
    padding-right: 10px;
}

.about-me-sect aside:last-child div:last-child{
    margin-top: 10px;
}

.about-me-sect aside:last-child div p{    
    float:right;
    font-size: 12px;
    margin: 40px 0px;
    text-align: center;
}

.about-me-sect aside:last-child div p span {
    font-size: 10px;
    color:#cccccc;    
    
}    

.hide-element,.hide-mobile-element {
    display: none;
}

.show-element {
    display: initial;
}

}

@media only screen and (min-width: 736px) {
  
.pageNav #menuIcon, .mobile-dropmenu {
    display:none;
}

.show-mobile-element {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
}

.pageNav .mobile-nav aside a {
    padding: 10px;
}
.pageNav .mobile-nav aside a:not(:last-child) {
    margin-right:10px;
}

.pageNav div a:hover {
    color: #1477CC;
}

/*--Navigation DONE!---*/

.latest-project-sect aside {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.latest-project-sect aside div:not(:last-child){
    margin-bottom:0px;
}

.latest-project-sect aside div {
    min-width: 230px;
    text-align: center;
    border-color: #e5e5e5;
    border-radius: 0px 0px 10px 10px;
}

.latest-project-sect aside div p {
    float:none;
    margin:0px;
    padding: 15px;
}

.latest-project-sect aside div img {
    max-width: 300px;
    border-bottom: 1px solid #e5e5e5;
}

.about-me-sect  {
    border-bottom: 1px solid;
}

footer {
    padding: 30px 15px;
}
footer p {
    display: inline-block;
}
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}

@media only screen and (min-width:1024px) {

    body {
        display: flex;
        display: -webkit-flex;
        justify-content: space-around;
        -webkit-justify-content: space-around;
    }

    .about-me-sect  {
        background-color: #e5e5e5;
    }

    .about-me-sect aside:last-child div {
        border:none;
    }

    .about-me-sect aside:last-child div:not(:last-child) {
        border-bottom: 1px solid #cccccc;
        padding-bottom: 10px;
    }

    .about-me-sect aside:last-child img{    
        display:inline-block;
    }

    .about-me-sect aside:last-child div p{    
        float:right;
        font-size: 20px;
        margin: 30px 0px;
        text-align: center;
    }
    
    .about-me-sect aside:last-child div p span {
        font-size: 15px;
    }

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

