*{
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
}
html {
    font-family: "Lucida Sans", sans-serif;
}

/*This is for mobile phones*/
.row::after {
    content:"";
    clear: both;
}

.wrapper {
    position: absolute;
    top:0px;
    width: 100%;
}

[class*="col-"] {
    float: left;
    width: 100%;    
    padding: 15px;
}

.pageNav {
    overflow: hidden;
    background-color: #dddddd
}

.pageNav ul {
    list-style: none;
    font-size: 0px; 
}

.pageNav ul li {
    padding: 20px;    
    font-size: 14px;        
}

.pageNav ul li a {
    padding: 20px;
    text-decoration: none;
    color: black;    
}

.pageNav ul > li{
    background-color: rgba(0, 0, 0, 0.7);
}

.pageNav ul > li > a, .pageNav ul li:hover > a, .pageNav ul > li span:hover > a{
    color: #e74a43;
}

.pageNav ul li span {
    float: right;    
}

.pageNav ul li span a{
    color: white;
}

.hide-menu {
    display: none;
}

.show-menu {
    display: initial;
}

/*---COMPLETE & FULLY RESPONSIVE---*/

main {
    text-align: center;
}

main section {
    padding: 20px 0px;        
    border-style: solid;
    border-color: white;
    color: white;    
    background-color:rgba(0, 0, 0, 0.7);    
}

main section header h1{
    color: #e74a43;
}

main section header h3 {
    margin: 10px 0px;
}

main section aside img {
    width:200px;
    height: auto;
    border-radius: 100%;
    border-style: solid;
    border-color: white; 
    -webkit-box-shadow: 0px 0px 5px 3px #e74a43;
    -moz-box-shadow: 0px 0px 5px 3px #e74a43;
    box-shadow: 0px 0px 5px 3px #e74a43;
}

main section p {
    margin: 10px 0px;
}
/*-------This Section is complete----*/

main nav ul {
    border-style: solid;
    border-color: white;
}

main nav ul li {
    padding:20px;
    border: 1px solid white;
    background-color: #e74a43;    
}

main nav ul li a {
    text-decoration: none;
    color: white;
}
main nav ul li:active {
    background-color:rgba(0, 0, 0, 0.7);
}

main nav ul li:active > a{
    color: #e74a43;
}

/*---mobile buttons are complete*/

main address {
    padding: 10px 0px;
    border-style: solid;
    border-color: white;
    font-style: normal;    
    color: white;    
    background-color:rgba(0, 0, 0, 0.7);   
}

main address .contactInfo {
    margin: 10px 0px;
}

main address img {
    width: 40px;
    height: auto;
}

main address div span {
    color:#e74a43;
}

#contactMenuIcon {
    color:white;
}

/*---Mobile Version COMPELTE----*/

@media only screen and (min-width: 600px) {
    /*This is for tablets */
    
    .col-m-1 {width: 8.33%}
    .col-m-2 {width: 16.66%}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

@media only screen and (min-width:768px) {
    /* This is for desktop */    
    .pageNav ul li span {
        display: none;
    }

    .pageNav ul li{
        display: inline-block;
    }

    .pageNav ul #display-menu {
        display: initial;
    }

    .pageNav ul #display-menu li:last-child {
        float: right;
    }

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}



/* {
    margin: 0px;
    padding: 0px;
    /*border-style:dotted;
}
body {
    background: url("https://ttmarketing.ie/wp-content/uploads/2017/06/7649a754c3_102107115_o2.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.grid {
    position: relative;
    bottom:0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "pageNavBar pageNavBar pageNavBar pageNavBar"
    "main main main main"
    "footer footer footer footer";
}

.pageNavBar {
    overflow: hidden;
    max-height: 47px;
    grid-area: pageNavBar;
    background-color: #C6C6C6; 
}

ul,li{
    list-style-type: none;
    display: inline-block;    
}

a{
    text-decoration: none;     
}


.pageNavBar ul li {    
    padding: 15px 0px 15px 0px;
    margin: -3px;
    border-style: solid;
    border-color: white;
}

.pageNavBar ul li a {
    padding: 15px 25px 15px 25px;  
    text-decoration: none; 
    color: white;  
}

.pageNavBar ul li a:hover:not(.active) {
    background-color: black;
}

.active{
    background-color: rgba(0, 0, 187, 0.51);    
}

nav ul .navMenu_test {
    float: right;
    border-left: solid;
    border-right: none;
    border-color: white;
}


main {
    grid-area: main;
}

.inner_grid {
    display: grid;
    grid-template-columns: 1fr 0.4fr;  
    grid-template-areas: 
    "jobtitle section1"
    "section2 section3";
    grid-row-gap: 10px;
    grid-column-gap: 5px;      
}

.jobtitle {
    grid-area: jobtitle;
    padding: 20px;
    background-color: rgba(255,255,255,0.4); 
    
}

.section1 {
    grid-area: section1;
    text-align: center;
    border-style: dotted;
}

.selfie{
    max-height:100%;    
    max-width:100%;
    border-style: solid;
}

.section2 {
    grid-area: section2;
    padding: 20px;    
    background-color: rgba(255,255,255,0.4); 
}   

.section3 {
    grid-area: section3;
    text-align: center;
    background-color: rgba(255,255,255,0.4); 
    
}

.section3 li {
    display: block;
    padding: 15px 0px 15px 0px;    
}

.section3 nav {
    border-style:solid;
    max-height: 100%;
}

footer {
    grid-area: footer;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/*------------------Desktop Settings---------

@media screen and (min-width:  736px) {

    .grid {
        position: relative;
        top:10px;
        bottom:0px;
        display: grid;
        grid-template-columns: 0.2fr 1fr 0.2fr;
        grid-template-areas: 
        ". pageNavBar ."
        ". main arrowRight"
        ". footer .";
        grid-row-gap: 10px;
    }

    .arrowRight {
        grid-area: arrowRight;      
        font-size: 90px;
        align-self: center;
        text-align: center;
    }

    .fa-angle-right {
        -webkit-animation-name: example; /* Safari 4.0 - 8.0 
        -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 
        animation-name: example;
        animation-duration: 8s;
        animation-delay: 1s;
        animation-iteration-count: infinite;
        color:black;
    }

    .fa-angle-right:hover {
        color: white;
    }
    .fa-angle-right:hover {
        animation: none;
    }
    @-webkit-keyframes example {
        0%   {font-size: 80px;}
        25%  {font-size: 60px;}
        50%  {font-size: 100px;}
        100% {font-size: 80px;}
     }

    @keyframes example {
        0%   {font-size: 80px;}
        25%  {font-size: 60px;}
        50%  {font-size: 100px;}
        100% {font-size: 80px;}
    }

    .linkNav{
        display: inline-block;
        font-size: 15px;
        padding-right:10px;
    }

    aside {
        position: relative;
        top:8px;
        float: right;
        padding: 0px 5px;
        border-left: solid;
    }
}*\