*{
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
    text-decoration: none; 
    list-style: none;        
}

[class*="col-"] {
    float: left;
    width: 100%;   
    /*border-style:solid; */
}

*{
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
    text-decoration: none; 
    list-style: none;        
}
html {
    font-family: "Lucida Sans", sans-serif;
}

/*This is for mobile phones*/
.row::after {
    content:"";
    clear: both;
}

[class*="col-"] {
    float: left;
    width: 100%;   
    /*border-style:solid; */
}

.pageNav {
    overflow: hidden;
    padding: 0px; 
    background-color: rgba(221, 221, 221, 1);


}

.pageNav ul {
    font-size: 0px; 
}

.pageNav ul li {
    padding: 20px;    
    font-size: 14px; 
}

.pageNav ul li a {
    padding: 20px;
    color: black;    
}

.pageNav ul > li{
    background-color: rgba(0, 0, 0, 0.7);
}

.pageNav ul > li > a, .pageNav ul li:hover > a, .pageNav ul > li span:hover > a{
    color: #e74a43;
}

.pageNav ul li span {
    float: right;    
}

.pageNav ul li span a{
    color: white;
}

.hide-menu {
    display: none;
}

.show-menu {
    display: initial;
}

/*---Mobile Version COMPELTE----*/

@media only screen and (min-width: 600px) {
    /*This is for tablets */
    /*This is for tablets */
    .pageNav ul li span {
        display: none;
    }

    .pageNav ul li{
        display: inline-block;
    }

    .pageNav ul #display-menu {
        display: initial;
    }

    .pageNav ul #display-menu li:last-child {
        float: right;
    } 
    /*---This is for responsive Nav bar---*/
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}

@media only screen and (min-width:768px) {
    /* This is for desktop */

    body { 
        font-family: Arial, Helvetica, sans-serif
    }

    .banner {
        padding: 10px 10px 0px 10px;
        text-align: right;
    } 

    .banner a {
        color: black;
    }

    .banner a:hover {
        color: #e74a43;
    }


    .filter {
        background-image: url("images/background-images/Website-Design-Background.png");   
        background-size: 100% 100%; 
        background-repeat: no-repeat;
        margin-bottom: 50px;
        
    }
    main {
        background-color: rgba(0, 0, 0, 0.3);     
        -webkit-box-shadow: 5px 13px 51px -1px rgba(28,6,7,0.4);
        -moz-box-shadow: 5px 13px 51px -1px rgba(28,6,7,0.4);
        box-shadow: -5px 10px 21px -6px #e74a43;   

    }

    main section {
        padding: 70px 10px 35px 30px;
        height:100%;
    }

    main header h1 {
        font-size: 80px;
        color: #e74a43;
    }

    main header h3 {
        font-size:40px;
        margin: 20px 0px 20px 40px;
        padding-bottom: 10px;
        color:white;
        border-bottom: 1px solid;
        width: 85%;
    }
    
    main section  p {
        font-size: 17px;
        line-height: 27px;
        color: white;
        margin-left: 80px;
    }
    
    main aside img {
        width: 500px;
        height: auto;
        border-left:1px solid #e74a43;
        border-bottom:1px solid #e74a43;        
        border-radius: 0px 0px 0px 100px;
    }
    
    .button-container {
        text-align: center;
    }
    button {
        padding: 20px 0px;
        width: 33%;
        font-size: 18px;
        border:none;
        color: #e74a43;
        -webkit-box-shadow: 5px 13px 51px -1px rgba(28,6,7,0.4);
        -moz-box-shadow: 5px 13px 51px -1px rgba(28,6,7,0.4);
        box-shadow: 5px 13px 21px -6px rgba(0,6,7,0.7); 
    }

    .button2 {
        margin-left:10px;        
    }

    footer {
        position: absolute;
        bottom:5px;
        font-size: 30px;
        text-align: center;
    }

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}